In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('company_rating_list_new.csv',index_col='index')

In [4]:
print(len(df))
df.head()

792

,companyId,company,reviewCount,average,salary,wlb,culture,possibility,management
index,,,,,,,,,
0,67445,(주)아이패밀리에스씨,231,3.0,2.7,2.8,2.9,3.5,3.0
1,87444,쿠팡(주),2596,3.1,3.0,3.2,3.3,2.8,2.7
2,347175,(주)브랜드엑스코퍼레이션,25,3.7,3.5,3.2,3.4,3.4,3.3
3,51032,디딤365(주),18,4.2,3.4,3.9,4.0,4.4,3.7
4,309654,패스트캠퍼스,170,2.5,2.7,1.9,2.8,3.0,2.2

In [18]:
df[df['average']==0]

,companyId,company,reviewCount,average,salary,wlb,culture,possibility,management
index,,,,,,,,,
12,375177,(주)페이플,0,0.0,0.0,0.0,0.0,0.0,0.0
22,347555,데이터헌트(주),0,0.0,0.0,0.0,0.0,0.0,0.0
25,373799,마보(주),0,0.0,0.0,0.0,0.0,0.0,0.0
26,369517,(주)오아시스비즈니스,0,0.0,0.0,0.0,0.0,0.0,0.0
47,349818,(주)원스글로벌,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
666,368942,(주)에코플래그,0,0.0,0.0,0.0,0.0,0.0,0.0
772,128882,케이시스(주),0,0.0,0.0,0.0,0.0,0.0,0.0
775,373136,에스프레스토(주),0,0.0,0.0,0.0,0.0,0.0,0.0
777,374790,유디에스(주),0,0.0,0.0,0.0,0.0,0.0,0.0
789,315492,오광스튜디오,0,0.0,0.0,0.0,0.0,0.0,0.0

총 792개의 회사 평점 데이터에서 71개가 결측 데이터

In [38]:
#결측 데이터를 제거한 DataFrame
df=df.drop(df[df['average']==0].index,axis=0)
df

,companyId,company,reviewCount,average,salary,wlb,culture,possibility,management
index,,,,,,,,,
0,67445,(주)아이패밀리에스씨,231,3.0,2.7,2.8,2.9,3.5,3.0
1,87444,쿠팡(주),2596,3.1,3.0,3.2,3.3,2.8,2.7
2,347175,(주)브랜드엑스코퍼레이션,25,3.7,3.5,3.2,3.4,3.4,3.3
3,51032,디딤365(주),18,4.2,3.4,3.9,4.0,4.4,3.7
4,309654,패스트캠퍼스,170,2.5,2.7,1.9,2.8,3.0,2.2
...,...,...,...,...,...,...,...,...,...
786,58721,이언커뮤니케이션즈(주),61,2.5,1.9,3.0,2.4,2.4,1.9
787,92887,비티씨커뮤니케이션즈(주),11,2.2,2.0,1.5,1.8,2.3,1.7
788,241086,인스터(주),8,3.5,3.1,3.0,3.1,3.8,3.3
790,210641,코안스튜디오(주),4,3.3,2.0,2.8,2.5,2.0,2.3
791,311062,(사)기독교문서선교회,10,2.5,1.8,2.4,1.9,2.7,1.8

In [49]:
df_five=df[['salary','wlb','culture','possibility','management','companyId']]
df_five_index=df_five.set_index('companyId')
df_five_index.head()
len(df_five_index.index.tolist())

721

In [5]:
cus_rate=pd.DataFrame({'rating':[5,3,4,1,2]})
cus_rate

   rating
0       5
1       3
2       4
3       1
4       2

In [22]:
from sklearn.metrics.pairwise import cosine_similarity

In [36]:
sim_info=[]
for i in range(len(df)):
    sim=cosine_similarity([cus_rate['rating'].tolist()],[df_five.values[i].tolist()])
    sim=sim.tolist()[0]
    sim_info.append(sim[0])
print(sim_info)

[0.866356383284255, 0.921975142473533, 0.9094993450953561, 0.8749338377285384, 0.8929659831774132, 0.8713894891575686, 0.8724100903534577, 0.8776439827852374, 0.898828953778968, 0.9225551993697805, 0.9097783843391408, 0.9118198396739429, 0.934099036307526, 0.904783861430823, 0.9081058483349065, 0.9191204323406185, 0.8640252010344367, 0.916112540623844, 0.897669530662905, 0.9209240966916105, 0.9332673736242577, 0.9039065386638507, 0.9176617208060904, 0.8606928515111834, 0.892987275082039, 0.9398818330151615, 0.8762210745899817, 0.9065152518264885, 0.9096313785532744, 0.8681526407387079, 0.9206155707813037, 0.8837699623202315, 0.9164720119112206, 0.9001482455338954, 0.9116868727968485, 0.9280372163259822, 0.8870312529214989, 0.9123467576643913, 0.8964019031489182, 0.9047523021413568, 0.8755318792971281, 0.8761009898987931, 0.9009590747819926, 0.9095954147565737, 0.9262283740040325, 0.9213151664043673, 0.9097145408670626, 0.9073794961325221, 0.8778547537132189, 0.903906911562511, 0.9088632978115534, 0.883747296426721, 0.8799083891377091, 0.907324718686845, 0.9256307983870131, 0.9296876764727142, 0.8802521948349139, 0.8495167120257132, 0.9201831520158837, 0.9326694630651613, 0.9178609650481284, 0.8604286761868021, 0.9014515843347606, 0.8772018163603424, 0.9211923058649254, 0.9314810581942119, 0.872385140157389, 0.947793601429729, 0.9227091455044552, 0.880206888693513, 0.9045340337332909, 0.9095012853779922, 0.9445198496814473, 0.9276286469108261, 0.9105226161272403, 0.9534625892455922, 0.9465981058580646, 0.9058862653811307, 0.8904002347194884, 0.9216616398526312, 0.9037341585950405, 0.9461982493020189, 0.872814036786734, 0.919671068610528, 0.904433300503541, 0.9287677231362619, 0.9132502253084716, 0.9402401105690974, 0.8374357893586238, 0.9221789164051787, 0.9099595171063284, 0.8918614013846768, 0.9101698143253767, 0.8603411624976747, 0.9045340337332909, 0.8866251848229234, 0.8785458346069115, 0.9084864864487134, 0.9465659395340733, 0.9057536778546406, 0.9278478145401361, 0.8917126864363405, 0.9171014030142741, 0.9192636349646486, 0.9185328143744738, 0.916808316382669, 0.8965786099685871, 0.9110193656019279, 0.8929077009291061, 0.9045340337332909, 0.896945277211196, 0.9054343138503709, 0.8953562548830215, 0.9393501399923703, 0.9028371976588312, 0.9285027978166083, 0.8742707681914579, 0.9112025972708824, 0.8897668040548653, 0.9045340337332909, 0.8663658973823474, 0.9258787134374944, 0.9244049661707056, 0.8622754652980322, 0.885909540317257, 0.8914712383074674, 0.9231894823790698, 0.9465066760022313, 0.931198895802052, 0.9262336722157114, 0.871737224453113, 0.9102724875051781, 0.8878223196527287, 0.8591092005939496, 0.8864247971622432, 0.9043495630408711, 0.9206970415593174, 0.9131666919605227, 0.9216874248387951, 0.9073064939675961, 0.8986234742367992, 0.9332262671869695, 0.9432684409445473, 0.8885674436741131, 0.8940039938193762, 0.9237482144589083, 0.722222726768005, 0.9043510942408278, 0.8884269047976765, 0.9033755511278987, 0.9013278299292146, 0.9101523905177609, 0.903498130518841, 0.8853581185851929, 0.9109629233797185, 0.8617591446380588, 0.9222458994519387, 0.9044111804947785, 0.8487632844804491, 0.8738628975053029, 0.9363867439154295, 0.9276356104834171, 0.9396858927668968, 0.9321842859423506, 0.9092165102296978, 0.9272892320443067, 0.8922262273950787, 0.8577270300868198, 0.9151859768398416, 0.8879923794435516, 0.9023238503210904, 0.9226276668212146, 0.89528071867977, 0.8588975014708023, 0.8706734224204804, 0.9090719982274198, 0.91255734986959, 0.9382960958578356, 0.9172449919343195, 0.8796379629795684, 0.9174434776444845, 0.9162185770607132, 0.8812430114237506, 0.8952489976970919, 0.8865020752131757, 0.8967737787903909, 0.8948474848020693, 0.8758015878368475, 0.9137725303127415, 0.8850108512180054, 0.7742636797522928, 0.9332345972743211, 0.8798180187467226, 0.8621580052769952, 0.8781176838162108, 0.9165294108153159, 0.8966135510690744, 0.8835654986156913, 0.8899391347790462, 0.9040575212194356, 0.8427498280790525, 0.9039089872763779, 0.8731435518798885, 0.8267833127375326, 0.9119377914992252, 0.8863867832402383, 0.8332302473513595, 0.8791473989219877, 0.8716749524920512, 0.8873613606177592, 0.8875725384208406, 0.8736112053698528, 0.8837315555843875, 0.8564695374320358, 0.8775328833801287, 0.8701530079050794, 0.8897534315863354, 0.8642818537823027, 0.9167630803291248, 0.9045340337332909, 0.9196302575468746, 0.8928855136294958, 0.8740901290285319, 0.8698580110101586, 0.9445009854081414, 0.9074280898641305, 0.9059870422983547, 0.8599912129857381, 0.9112903666734768, 0.8534889248100755, 0.8858348156577864, 0.8861006110376173, 0.8835079151845289, 0.9342172098430099, 0.8505003572422151, 0.9382008890795663, 0.8895100169056211, 0.8968566214669325, 0.8905629059921039, 0.8789915496450782, 0.8395925235297604, 0.9090839396460009, 0.8890394413235927, 0.9546615565411796, 0.8927508703922528, 0.8718735183921718, 0.8988811869953721, 0.8744645915314972, 0.8960803447114876, 0.8797904346864125, 0.961633974536567, 0.8962269147534205, 0.877691520014988, 0.9045340337332909, 0.8953852249748285, 0.8494119857293758, 0.9380831519646858, 0.8707124864005322, 0.9306058247965738, 0.8799746875119349, 0.8537345682841753, 0.8380558825863955, 0.9015707693118734, 0.9085221916589666, 0.8562793460143092, 0.8557491083482167, 0.8661635148456444, 0.8483354175074953, 0.8763579548180994, 0.8890689055103689, 0.8763743309978722, 0.9045340337332909, 0.931912932011752, 0.9054448788516719, 0.9084919295281789, 0.9512728514558854, 0.8978417525888116, 0.8932444252004309, 0.8813247837750049, 0.8718735183921718, 0.8756022477233818, 0.871737224453113, 0.9276245213446002, 0.9292520485187644, 0.891941040209424, 0.9106445285984144, 0.9103374388101473, 0.8906844592403402, 0.8962825806226291, 0.8854377448471462, 0.8955489027377068, 0.8844289271035297, 0.88013105492581, 0.9198821777704036, 0.8731003713692287, 0.8976695306629051, 0.8834450549637811, 0.9035680529549133, 0.9109540945104941, 0.9252883714478384, 0.9168708864777003, 0.9398840612551532, 0.9152325711164336, 0.9344767269690313, 0.9093224509136557, 0.9332950277594538, 0.9062742004551159, 0.8629440058746565, 0.8764598212022147, 0.9121724998378598, 0.8961200020934224, 0.8916379808392031, 0.8578258566180634, 0.8994517089747511, 0.8712736684140359, 0.9136587620035457, 0.8545486254182222, 0.9062703197851516, 0.9264973002090557, 0.9188884477643131, 0.9004595353886362, 0.9045340337332909, 0.8627815867495827, 0.8840594750925539, 0.890436930454106, 0.8974310513510603, 0.8370221386594625, 0.9077551863934048, 0.8579074469895891, 0.9059433908156086, 0.8927039506466565, 0.9077122007921861, 0.9168084164340375, 0.908246874154136, 0.8588826197998098, 0.8314419981251195, 0.8641382731864499, 0.9205137659687441, 0.8970050267891851, 0.9094793907756142, 0.8805537406399786, 0.9117203886493834, 0.9191200992278475, 0.8884897301789779, 0.9291002560301178, 0.9048500063311069, 0.9269048560093903, 0.8984249684245101, 0.9127042708572882, 0.9192984766733239, 0.9414087211925549, 0.8807974771786055, 0.8615608389584573, 0.852550533000844, 0.9149461630755199, 0.8813882389213912, 0.8895277076672548, 0.8685845122502374, 0.8766351657715798, 0.8942787408169877, 0.8914803658327233, 0.8445582029537795, 0.9644191629719936, 0.9230746486085064, 0.8920642186116803, 0.8841468638484771, 0.8931493598669027, 0.8881355991131629, 0.9132249238892491, 0.8874837006832097, 0.8910130852506404, 0.8837807786608002, 0.8790328004130064, 0.9203146787097731, 0.8575399850789158, 0.7724598467726547, 0.938017423328809, 0.8764598212022148, 0.9060368667848695, 0.8682984054294092, 0.8576679524955447, 0.8648495371134326, 0.9068908872402586, 0.919304303046671, 0.883627530942818, 0.900200840557415, 0.8707299007672039, 0.8650409739560795, 0.8796756226598121, 0.8886130962539319, 0.9184180494534673, 0.8911873405929069, 0.9145535520916714, 0.8078466402079629, 0.8838855894898328, 0.9065494540182634, 0.8644886244708795, 0.8845260672452585, 0.883534942864884, 0.8198340515786546, 0.8763704002132351, 0.9202729390437088, 0.9324485696082678, 0.8863893884714, 0.8785444523569561, 0.9204205532777058, 0.9063058944592333, 0.8860288803847436, 0.7004956430340756, 0.9016791234510998, 0.8544733917352844, 0.8316411783804099, 0.8663658973823473, 0.9484014132432064, 0.8676780739017245, 0.8852677897456387, 0.8925008745771166, 0.9123498756007955, 0.7844336246080514, 0.9010609528860177, 0.8151366337954784, 0.8911883536382502, 0.9063017033787153, 0.9047478462959588, 0.912529605204035, 0.8945162806113588, 0.8883206804368096, 0.8654109834135258, 0.9045340337332909, 0.9045340337332909, 0.8837619774067413, 0.8539818612475534, 0.8454262636146459, 0.91859447748689, 0.9033121344443982, 0.8532153610189213, 0.8807228269392862, 0.862297512999373, 0.8803745073273737, 0.8481397339687851, 0.7424258698676951, 0.8769750244648199, 0.8996817343886879, 0.9045340337332909, 0.9339393530995069, 0.9183655602672458, 0.8409390455263139, 0.8949136305753507, 0.9167029947972496, 0.9227026164223204, 0.8935881348628161, 0.9045340337332909, 0.9078413258556605, 0.8733766346567303, 0.8581163303210331, 0.9252907487545788, 0.8676308067278482, 0.9411675799537841, 0.8861669954520588, 0.8901763847033708, 0.8717021138801893, 0.9045340337332909, 0.9376146419381317, 0.9310250324205347, 0.840229483210559, 0.8954333930949134, 0.9079842273027173, 0.9438510607740858, 0.8447873632752565, 0.9589667485791062, 0.9219111970159669, 0.843424206538935, 0.8469222411109827, 0.8676838058706933, 0.9484878939461455, 0.947327511604922, 0.8712293432569689, 0.916077856515831, 0.8470036629883839, 0.8852535179245179, 0.9083160740629985, 0.905018048975053, 0.8952254305081885, 0.9130188840380604, 0.8681469778356187, 0.8853582911982052, 0.9059187652885161, 0.9128105720771794, 0.8948201502238198, 0.8695286127934517, 0.8886555073351057, 0.9037707248435554, 0.9047239322833769, 0.9444654789457104, 0.8961082457770674, 0.9245304803730221, 0.848714143374889, 0.8285727207090159, 0.8888821204662363, 0.9038170030746397, 0.9160766967290098, 0.8822099709478959, 0.9045340337332909, 0.8125897417623331, 0.8980891363361356, 0.8586272659604216, 0.8911049755123829, 0.9076412253888428, 0.877642627978466, 0.8754677042737271, 0.9209504970441529, 0.9064009790296319, 0.8857279992783933, 0.8950759837208213, 0.9013137548546812, 0.8947064725876253, 0.92529732328904, 0.8960578709152647, 0.8502909222180471, 0.9142508320333109, 0.8810548369781397, 0.8689669759100069, 0.8724155598361811, 0.863697792977043, 0.9215393454621268, 0.8800029381929171, 0.9451358081686423, 0.8535879803461314, 0.9242211015373772, 0.8660202207812949, 0.8922268747738975, 0.8180291664554005, 0.8956101065511844, 0.8805362337383672, 0.9045340337332909, 0.9329146104170898, 0.8963601354334645, 0.8669948685909173, 0.8853370049590801, 0.9032091226327211, 0.8588309672040635, 0.857153062339459, 0.9045340337332909, 0.9633432944855653, 0.9139483652119396, 0.8829944192264335, 0.9439117784476825, 0.8705375617073423, 0.9223497866742101, 0.918487689143952, 0.9193143704528883, 0.9320733157970675, 0.8763704002132351, 0.8924756735849052, 0.8685931839607313, 0.9069007866105041, 0.9024388549311582, 0.9045340337332909, 0.9334801550284032, 0.9052412902136067, 0.9230620104474894, 0.9010925474424847, 0.906855596215336, 0.896945277211196, 0.8632906140876362, 0.9028434899851274, 0.8763630390277867, 0.9027084132215252, 0.8807805714403284, 0.8561237370200616, 0.9223506804562335, 0.8502909222180473, 0.9099709898814289, 0.8812462368275094, 0.8973865635140144, 0.8730711209972155, 0.8900642307067532, 0.8992165016207376, 0.915245211291184, 0.8831061285289363, 0.8799170619268479, 0.8768767827449861, 0.8162469515596973, 0.8737947223050881, 0.8964626749377717, 0.8879512105693038, 0.9045340337332909, 0.9203923138380716, 0.9428269097999569, 0.8926940254469227, 0.887507913924624, 0.9123284568220966, 0.8648361504152522, 0.9211114021330113, 0.8880076242494603, 0.9108374830528283, 0.9485733121596971, 0.8896872149135052, 0.902178144692297, 0.8814352899062281, 0.8994475789748417, 0.9039173018915847, 0.8652355309805073, 0.8954430086935639, 0.9080049756807154, 0.8786222244679887, 0.8963931274450787, 0.9058008440678378, 0.942698537431256, 0.8956539191223789, 0.871737224453113, 0.769831600183243, 0.9315793176876545, 0.9416797405291459, 0.889559998217375, 0.8759329600011894, 0.8842048302391149, 0.911890328152869, 0.8049434044064965, 0.9113999773982757, 0.9165448967127069, 0.8859764474561831, 0.881344043192319, 0.912390942932702, 0.8872927004330342, 0.9161494470285789, 0.9514042748361164, 0.8550052830064235, 0.9040737240541304, 0.8968840098135271, 0.8571789314198093, 0.8742322229166606, 0.8853581185851929, 0.8646633843240461, 0.916397125748064, 0.8722728911379662, 0.9377680198479672, 0.8968085904057779, 0.8974470766631621, 0.902149377051903, 0.88569429507942, 0.8909625405602108, 0.9080181039872679, 0.8447086229070871, 0.9059611799255967, 0.9031805036789263, 0.8699119565536771, 0.8994475789748417, 0.867562433950726, 0.9047503444220715, 0.8890955320251792, 0.8710909933382048, 0.8654109834135258, 0.8754886392753287, 0.8517931175769825, 0.9058477412020733, 0.9224319731503777, 0.910364152277788, 0.9042058914090763, 0.8980895437616501, 0.8979686524112689, 0.8372184664099885, 0.9070179835803425, 0.8734081886599957, 0.8772749326297284, 0.8498641664742188, 0.8788790277103224, 0.8888228285038569, 0.871481929098495, 0.8810020609445315, 0.8837381143957186, 0.8558520444308152, 0.8446628252312323, 0.873333764609373, 0.9198050069616222, 0.8892775391701828, 0.8710621133651231, 0.8795603297252403, 0.9301768192751201, 0.9006380548072852, 0.9071400464024515, 0.8662596863272838, 0.9260432752830683, 0.8364393022642345, 0.9116632053536717, 0.9199353193217102, 0.8791248806427447, 0.860945959251256, 0.9052168942882124, 0.9126261383339506, 0.8992099678534466, 0.8619670399767254, 0.8947425681853323, 0.8868068807078674, 0.8875796457072125, 0.8936793731623814, 0.8735058684310685, 0.8472780361105221, 0.8733854516088251, 0.9181448494550704, 0.8724161215119426, 0.8090398349558904, 0.8700359356757974, 0.8648999641877366, 0.8709516539672668, 0.9323736531668105, 0.9045340337332909, 0.8661003810932484, 0.9045147141328289, 0.8768823793694902, 0.8403125905716269, 0.8495410485835121, 0.9036151703991853, 0.8833101144181581, 0.9023427271946003, 0.8852587100294373, 0.8781314810890053, 0.8789232305335775, 0.8715655553505863, 0.9019240709079925, 0.8437299654373334]

In [53]:
sim_mt=pd.DataFrame({'similarity':sim_info,'companyId':df_five_index.index.tolist()})
sim_mt=sim_mt.set_index('companyId')
sim_mt_sorted=sim_mt.sort_values(by=['similarity'],ascending=False)
sim_mt_sorted.iloc[:10]

           similarity
companyId
327393       0.964419
353799       0.963343
336808       0.961634
373135       0.958967
353613       0.954662
372378       0.953463
318683       0.951404
20564        0.951273
61960        0.948573
90431        0.948488